<h1>{{appTitle}} 🚀</h1>
<p>Welcome to Spotify!</p>

<div class="fond">
    <div class="container">


        <form action="/artist-search" method="GET" class="center">


            <input type="text" placeholder="artist name" name="artist">
            <br>
            <br>
            <input type="submit" value="buscar">

        </form>
    </div>
</div>